{{ $fallbackSize := .Site.Params.contentImageFallbackSize }}
{{ $minWidth := .Site.Params.breakpointsMinWidth }}
{{ $maxWidth := .Site.Params.breakpointsMaxWidth }}
{{ $bytesStep := .Site.Params.breakpointsBytesStep }}
{{ $maxImages := .Site.Params.breakpointsMaxImages }} 
{{ $src := ( .Get "src" ) }}
{{ $urlOne := ( print .Site.Params.cldBase "/image/fetch/f_auto,q_auto/w_auto:breakpoints_" $minWidth "_" $maxWidth "_" $bytesStep "_" $maxImages ":" ) }}
{{ $urlTwo := ( print "/" .Site.BaseURL $src ) }}

<figure>
<img
	srcset="{{ print $urlOne 400 $urlTwo }} 400w,
	        {{ print $urlOne 800 $urlTwo }} 800w,
	        {{ print $urlOne 1200 $urlTwo }} 1200w,
	        {{ print $urlOne 1600 $urlTwo }} 1600w,
	        {{ print $urlOne 2000 $urlTwo }} 2000w"
	src="{{ print $urlOne $fallbackSize $urlTwo }}"
	sizes="{{ if .Get "sizes" }}{{ .Get "sizes" }}{{ else }}{{ .Site.Params.contentImageDefaultSizes }}{{ end }}"
	alt="{{ if .Get "alt" }}{{ .Get "alt" }}{{ end }}"
/>
<figcaption>
<code>
{{ print $urlOne $fallbackSize $urlTwo }}
</code>
</figcaption>
</figure>
